BOT_TOKEN=91283830284:AAF62rkC6tr2p3rzdSe3lknrcOp6ysr2rnl
ADMINS=000000000,1234567890

# Postgres
USE_PG=True
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PG_DATABASE=my-db

# Webhook
USE_WEBHOOK=False
MAIN_WEBHOOK_ADDRESS=https://shop-bot.herokuapp.com # edit to your webhook address
MAIN_WEBHOOK_SECRET_TOKEN=secret